			
			body {
				font-family:cursive;

			}
					
			#header {
				position:fixed;
				left:0;
				top:0;
				
				margin:0;
				padding:0;
				width:100%;
				height:50px;
								
				
				background-color:rgb(11, 170, 181);
			}
			
			#HeaderLogo {
				position:absolute;
				margin-top:2.5px;
				height:90%;
				left:0.7%;
				overflow:hide;
				
			}
			
			.tabs {
				border-left:1px solid;
				position:absolute;
				top:0;
				
				margin:0;
				width:15.66%;
				height:100%;
				
				text-align:center;
				font-family:serif;
				font-size:35px;
				
				text:black;
			}
			
			.tabs a:link, .tabs a:visited, .tabs a:active {
			  color: Black;
			  text-decoration:none;

			}
			
			.tabs a:hover {
			  color:rgb(60, 60, 70);
			  font-size:40px;

			}
			
			#tab1 {
				left:6%;
			
			}
			
			#tab2 {
				left:21.66%;

			}
			
			#tab3{

				left:37.33%;

			}
			
			#tab4 {
				left:52%;

			}
			
			#tab5 {
				left:68.66%;

			}
			
			#tab6 {
				left:84.33%;

			}
			
			#body {
				position:fixed;
				top:50px;
				left:0;
				width:100%;
				height:95%;
				margin:0;
				
				overflow:auto;
				
				background:white;
				

			}
			

